$main-color = #ff8173
$main-color-dark = #f17868
$sub-color = #F5F0F2
$sub-color-dark = #ffedd8
$btn-text-color = #000000
$title-color = #f78605
$title-color-dark = #ffffff
$icon-active-color = #f74605
$hover-color = #f78605
$active-color = #ff2712